{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block learnActive %}class="active"{% endblock %}
{% block learnActiveM %}class="active"{% endblock %}
{% block content %}
    <h1>About Us</h1>
    <div class='container'>
        <div class='center container'>
            <img src="{{url_for('static', filename='img/food.jpg')}}" width='50%' />
        </div>
        <p>Our mission is to help individuals around the world decrease their carbon footprint in their daily routine.</p>
        <br/>
        <p>Over 13.7 billion metric tons of carbon emissions are emitted from food every year. Everyday, most of us consume food without a second thought, but now it’s time for change. Sub.it is a web application that can identify ingredients in your meals that have a large carbon footprint and substitute them with greener alternatives. With a click of a button, Sub.it can analyze images of food and suggest substitutions for ingredients that have a large carbon footprint.</p>
        <br/>
        <p>Oftentime, individuals think about reducing their carbon footprint by making large investments like buying a Tesla. However, we built Sub.it in hopes of showing individuals they can also make smaller changes in their daily routine to make the same impact.</p>
    </div>
{% endblock %}