{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block profActive %}class="active"{% endblock %}
{% block content %}
    <div class="header">    
        <h1>Hi {{ user.fname }}!</h1>
        <a class='sub-it' href='/sub'>Sub It!</a>
    </div>
    <hr/>
    <div class="container">
        <h3>Profile</h3>
        {% if auth %}
            <div class="container center">
                <img src="{{ url_for('static', filename='img/favicon.png')}}" width='300px' />
                <h2>{{ user.fname + " " + user.lname}}</h2>
                <p>Subber since <span id='dateJoined'></span></p>
            </div>
        {% else %}
            <p class="signin-prompt"><a href="{{ url_for('signin')}}">Sign in</a> to get started.</p>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function(e) {
            let user = {{ user|tojson }};
            console.log(user.data.joined);
            let date = new Date(parseInt(user.data.joined));
            let month = date.toLocaleString('default', {month: 'long'});
            let year = date.getFullYear();
            $('#dateJoined').html(month + " " + year)
        });
    </script>
{% endblock %}