{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/signin.css') }}" />
{% endblock %}
{% block content %}
    <div class="signin-page">
        <h1>Welcome! We'd love for you to join us</h1>
        <hr />
        <div class="signin-container">
            <form method="POST" id="signUpForm">
                <input placeholder="First Name" name="fname" id="fname" required />
                <input placeholder="Last Name" name="lname" id="lname" required />
                <input placeholder="Email Address" name="email" id="email" required />
                <input placeholder="Password" name="password" id="password" type="password" required />
                <input placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" type="password" required />
                <div class="center">
                    <input type="Submit" value="SIGN UP" id="signupBtn"/>
                </div>
            </form>
            <div class="center">
                <p id="failMessage"></p>
            </div>
        </div>
    </div>
    <div class="toast" id="signupSuccessful">
        <p><i class="fas fa-check"></i> Successfully signed up.</p>
    </div>
{% endblock %}
{% block scripts %}
    <script> 
        $('#signUpForm').on('submit', function(e){
            var fname = $('#fname').val();
            var lname = $('#lname').val();
            var email = $('#email').val();
            var password = $('#password').val();
            var confirmPassword = $('#confirmPassword').val();
            var date = new Date()
            e.preventDefault();
            if (password === confirmPassword) {
                $.ajax({ 
                    url: "{{ url_for('handlesignup')}}", 
                    data: {
                        'fname': fname,
                        'lname': lname,
                        'email': email,
                        'password': password,
                        'date': date.getTime()
                    }, 
                    method: 'POST', 
                    success: function(data) {
                        console.log(JSON.parse(data));
                        $('#signoutSuccessful').addClass('show');
                        setTimeout(function() {
                            $('#signoutSuccessful').removeClass('show');
                            window.location.href = "{{ url_for('signin') }}";
                        }, 3000);
                    },
                    error: function(e) {
                        $('#failMessage').html("This email already has an account associated with it.");
                    }
                });
            } else {
                $('#failMessage').html("Passwords don't match. Please try again.");
            }
            
        }); 
    </script>
{% endblock %}