{% extends "base.html" %}
{% block title %}Sub It{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/sub.css') }}" />
{% endblock %}
{% block subActive %}class="active"{% endblock %}
{% block subActiveM %}class="active"{% endblock %}
{% block content %}
    {% if user %}
        <div class="header">    
            <h1>Hi {{ user.fname }}!</h1>
            <a class='sub-it' href='/sub'>Sub It!</a>
        </div>
        <hr />
        <div class='container'>
            <h3>Sub It</h3>
            {% if recipe %}
                <div class='subResults-container container'>
                    <div class='center'> 
                        <h3>{{ recipe.name.capitalize().replace("_", " ") }}</h3>
                        <img id='uploadedPic' src="{{ url_for('static',filename='img/' + recipe.image) }}"/>
                    </div>
                    <h4>Ingredients</h4>
                    <br/>
                    <p>{{ ', '.join(recipe.ingredients) }}</p>
                    <br/>
                    <h4>Alternative Ingredients</h4>
                    <form id='subResultsChecklist' method='post'>
                        <p>Here are some alternative ingredients you can use to reduce your carbon foodprint. Check off the ones you use to record these subs in your Sub.It account.</p>
                        <br/>
                        {% for alt in alts %}
                            <input type='checkbox' id={{alt.food}} name={{alt.food}} value={{alt.food}} />
                            <label>Substitute <span class='alt food'>{{alt.food}}</span> with <span class='alt alternative'>{{alt.alternative.replace('_', ' ')}}</span> to save <span class='alt savings'>{{alt.savings}}</span> kg CO<sub>2</sub></label>
                            <br/>
                        {% endfor %}
                        <input type='submit' id='submitSubs' value='Sub It!' />
                    </form>
                    <br/>
                    <p>*All savings are per kilogram of substituted food</p>
                </div>
            {% else %}
                <div class='subForm-container container'>
                    <form action="{{ url_for('sub') }}" enctype="multipart/form-data" method='post' id='subitForm'>
                        <i class='far fa-image'></i>
                        <p>Upload an image of your favourite foods to find out which ingredients you can use to reduce your carbon footprint.</p>
                        <label for='foodImg' id='foodImgLabel'>Upload an Image</label>
                        <input type='file' id='foodImg' name='foodImg' accept='image/png, image/jpg, image/jpeg' />
                        <div id='previewUpload'></div>
                        <input type='submit' id='uploadImg' name='uploadImg' value='Scan' />
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="toast" id="subSuccessful">
            <p><i class="fas fa-check"></i> Sub is successful.</p>
        </div>
    {% else %}
        <div class="header">    
            <h1>Welcome to Sub.It!</h1>
            <a class='sub-it' href='/sub'>Sub It!</a>
        </div>
        <hr/>
        <div class="container">
            <h3>Sub It</h3>
            <p class="signin-prompt"><a href="{{ url_for('signin')}}">Sign in</a> to get started.</p>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        var imgUrl = '';
        $('#foodImg').on('change', function(e) {
            if (e.target.files[0]) {
                imgUrl = URL.createObjectURL(e.target.files[0]);
                $('#previewUpload').html(`<img src="` + imgUrl + `" />`);
            }
        });
    </script>
    {% if alts %}
        <script>
            $('#subResultsChecklist').on('submit', function(e) {
                e.preventDefault();
                var checked = [];
                $('#subResultsChecklist :input[type=checkbox]:checked').each(function() {
                    checked.push($(this).val());
                })
                var alts = {{ alts|tojson }};
                var subs = {};
                for (let i = 0; i < alts.length; i++) {
                    if (checked.includes(alts[i]['food'])) {
                        subs[alts[i]['food']] = alts[i]['alternative']
                    }
                }
                console.log(subs);
                $.ajax({
                    url: '{{ url_for("handlesub") }}',
                    data: subs,
                    method: 'POST',
                    success: function(savings) {
                        $('#subSuccessful').html(`<p><i class="fas fa-check"></i> Succesfully saved ` + savings + `kg CO<sub>2</sub></p>`);
                        $('#subSuccessful').addClass('show');
                        setTimeout(function() {
                            $('#subSuccessful').removeClass('show');
                            window.location.href = "{{ url_for('history') }}";
                        }, 3000);
                    },
                    error: function(e) {

                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}