.subForm-container {
    margin-top: 32px;
}

.subForm-container form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    background: #e3f0eb;
    border-radius: 10px;
    text-align: center;
    padding: 32px 64px;
}

.subForm-container i {
    color: #51c299;
    font-size: 80px;
    padding: 28px;
    border: 5px solid #51c299;
    border-radius: 50%;
    margin: 16px 0px;
}

.subForm-container #foodImgLabel,
.subForm-container #uploadImg {
    color: #fff;
    background-color: #51c299;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 12px 16px 10px 16px;
    margin: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    outline: none;
    border: none;
}

.subForm-container #foodImgLabel:hover,
.subForm-container #uploadImg:hover {
    background-color: #56a78a;
}

.subForm-container #canvas {
    display: none;
    width: 400px;
    height: 300px;
}

.subForm-container input {
    display: block;
}

.subForm-container #foodImg {
    display: none;
}

.subForm-container #previewUpload img {
    width: 100%;
}

.subForm-container textarea {
    width: 100%;
    margin: 10px 0px;
    font-family: 'Open Sans';
    font-size: 16px;
}

.subResults-container #uploadedPic {
    margin: 12px 0px;
    width: 400px;
}

.subResults-container #subResultsChecklist {
    margin: 12px 0px;
}

.subResults-container #subResultsChecklist input {
    margin: 10px 3px;
}

.subResults-container #subResultsChecklist label {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px 0px;
}

.subResults-container #subResultsChecklist .alt {
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;;
}

.subResults-container #subResultsChecklist .alt.food {background-color: #e33b3b;}

.subResults-container #subResultsChecklist .alt.alternative {background-color: #51c299;}

.subResults-container #subResultsChecklist .alt.savings {background-color: #51c299;}

.subResults-container #subResultsChecklist #liveImpact span {
    font-weight: bold;
    color: #51c299;
}

.subResults-container #subResultsChecklist #submitSubs {
    color: #fff;
    background-color: #51c299;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 12px 16px 10px 16px;
    margin: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    outline: none;
    border: none;
}

.subResults-container #subResultsChecklist #submitSubs:hover {
    background-color: #56a78a;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Josefin Sans';
    margin: 10px 0px;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: 1em;
}
.separator::after {
    margin-left: 1em;
}

@media (max-width: 700px) {
    .subForm-container form {
        width: 100%;
        padding: 20px 10px;
    }

    .subResults-container #uploadedPic {
        width: 100%;
    }
}